.ul-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
}

.ul-header li {
    list-style: none;
    margin: 0 10px;
}

.ul-header a {
    color:rgb(236, 235, 235);
    text-decoration: none;
}

.ul-header a:hover {
    color: var(--colorHoverLinks);
    text-decoration: none;
}